# This file contains environment variables for the Vagrant configuration.
# You can modify these variables to customize your VM cluster setup.

BOX=bento/ubuntu-22.04

MASTER_COUNT=1
WORKER_COUNT=1
LB_COUNT=1


# IP address Master and worker nodes range for the VMs 
BASE_IP=192.168.56.

# Enable or disable the load balancer
ENABLE_LB=true
LB_IP_START=14

# configure resources for the load balancer, master and worker nodes
LB_CPU=2
LB_MEM=2048
MASTER_CPU=4
MASTER_MEM=4096
WORKER_CPU=2
WORKER_MEM=2048

# Configure the network bridge wi-fi or Ethernet for the VMs (optional)
# Bridge interface (WiFi / LAN)
# Example:
# Windows: "Wi-Fi" or "Ethernet"
# Linux: "wlp2s0" or "eth0"
# Windows: "Wi-Fi" or "Ethernet"
BRIDGE=Ethernet

SSH_PUB=../ssh/key_ssh.pub